
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="navbar-brand">---- VASH ---</li>
      <li class="navbar-text">CURRENT CONTEXT: <span id="currentContextDisplay" style="color: white;">home</span></li>
      <li class="navbar-text">CURRENT STATE: <span id="currentStateDisplay" style="color: white;">home</span></li>
      <li class="navbar-text">LAST COMMAND: <span id="lastCommandDisplay" style="color: white;">vash</span></li>


    </ul>
  </div>
</nav>
