<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body style="background-image: url('./farewellBG.png'); background-size: cover;">
<script>
  var socket = io();
  socket.on('updateCommand', function ( data ) {
      if (data.command == "order for") {
        console.log("orderfor/"+data.args.displayString);
        $("#displayText").text("ORDER FOR "+data.args.displayString);
      }

      //each panel has its own logic that is triggered by the updateCommand event
      //panels process commands on their own. They do not also poll
      //the db on their own. All requests are handled by the index page logic
      //panels can/should? be their own objects that add their own panel to the DOM
  });
</script>

<div class="container">
<h2  class="text-center" style="font-size: 100px; color: white; font-weight: bold;" id="displayText"></h2>

</div>

</body>
</html>
